.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header__logo{
    /* color: aqua; */
    object-fit: contain;
    height: 80px;
}

.header__icon{
    padding: 20px;
}

.icon2{
    height: 48px;
    width: 48px;
}